.contacts {
  margin-bottom: 5rem;
  padding-top: 7rem;

  .text {
    width: 90%;
    font-family: geistSuse;
    background: linear-gradient(-30deg, rgb(246, 241, 209), rgb(64, 121, 140));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 3rem;
    margin-top: 1rem;
  }

  hr {
    border: 1px solid #747795;
  }

  dl {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    dt {
      margin-right: 1rem;
      font-size: 0.9rem;
    }
    dd {
      font-size: 1.1rem;
      font-weight: 200;
      color: #9a9ec9;
      text-shadow: 1px 1px 5px #060a25;
    }
  }
}

.contacts > div > ul {
  gap: 10px;
  margin-top: 2rem;
}

.contacts > div > ul > li {
  width: 100%;
  height: 7rem;
  border-radius: 2rem;
  text-align: center;
}

.contacts > div > ul > li > * > svg {
  width: 4.6rem;
  color: #67919a;
}

.contacts > div > ul > li:hover {
  border: 1px solid #9a9ec9;
}
.contacts > div > ul > li > * > svg:hover {
  color: #9a9ec9;
}
