.block {
  width: 600px;
  & > .anchor {
    display: flex;
    align-items: center;
    font-size: 10px;
    width: fit-content;
    border: 1px solid rgba(97, 97, 97, 0.584);
    border-radius: 5rem;
    padding-inline: 2%;
    color: rgb(227, 227, 227);

    & > svg {
      width: 14px;
      padding-right: 3%;
    }
  }

  & > .title {
    margin-top: 1rem;
  }
}
