.home {
  margin-top: 5%;
  & > .download {
    margin-top: 1.5rem;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(227, 227, 227);
    cursor: pointer;
    margin-left: 0.4rem;
    width: 130px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5rem;
    padding-left: 2%;
    padding-bottom: 1%;

    & > svg {
      margin-left: 0.3rem;
      width: 18px;
    }

    &:hover {
      color: rgb(255, 255, 255);
    }
  }
}
