/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/app/components/header/header.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header_header__pI4A8 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 0.8rem;
}
.header_header__pI4A8 ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.header_header__pI4A8 > ul > li {
  padding: 0.45rem 0.9rem;
  background: linear-gradient(90deg, rgba(0, 7, 33, 0.3), rgba(8, 21, 70, 0.4));
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 5px 25px rgba(0, 7, 33, 0.3);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.013);
  transition: border 0.5s;
}
.header_header__pI4A8 > ul > li:hover {
  border: 1px solid rgba(255, 255, 255, 0.42);
  cursor: pointer;
}
.header_header__pI4A8 > button {
  background-color: transparent;
  padding: 0.45rem 0.9rem;
}
.header_header__pI4A8 > button > svg {
  width: 1rem;
  height: 1rem;
}

@media screen and (max-width: 950px) {
  .header_header__pI4A8 {
    font-size: 0.7rem;
  }
  .header_header__pI4A8 > button {
    background-color: transparent;
    padding: 0.45rem 0.9rem;
    font-size: 0.7rem;
  }
  .header_header__pI4A8 > button > svg {
    width: 0.8rem;
    height: 0.8rem;
  }
}
@media screen and (min-width: 1400px) {
  .header_header__pI4A8 {
    font-size: 1.2rem;
  }
  .header_header__pI4A8 > button {
    background-color: transparent;
    padding: 0.45rem 0.9rem;
    font-size: 1.2rem;
  }
  .header_header__pI4A8 > button > svg {
    width: 1.2rem;
    height: 1.2rem;
  }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/app/components/home/home.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.home_home___V3qG {
  margin-top: 5%;
}
.home_home___V3qG > .home_download__i06J9 {
  margin-top: 1.5rem;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: rgb(227, 227, 227);
  cursor: pointer;
  width: 115px;
  padding: 3px;
  border: 1px solid gray;
  border-radius: 5rem;
  padding-left: 1.8%;
}
.home_home___V3qG > .home_download__i06J9 > svg {
  margin-left: 0.3rem;
  width: 16px;
}
.home_home___V3qG > .home_download__i06J9:hover {
  color: rgb(255, 255, 255);
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/app/components/portfolio/portfolio.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.portfolio_portfolio__hp8Ey {
  display: flex;
  flex-direction: column;
}
.portfolio_portfolio__container__asqya {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  gap: 1rem;
  margin-top: 2rem;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/app/components/education/education.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/app/components/contacts/contacts.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.contacts_contacts__W7h9F {
  margin-bottom: 100px;
}
.contacts_contacts__W7h9F .contacts_text__l1CiA {
  width: 90%;
  font-family: geistSuse;
  background: linear-gradient(-30deg, rgb(246, 241, 209), rgb(64, 121, 140));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.contacts_contacts__W7h9F hr {
  border: 1px solid #747795;
}
.contacts_contacts__W7h9F dl {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contacts_contacts__W7h9F dl dt {
  margin-right: 1rem;
  font-size: 0.9rem;
}
.contacts_contacts__W7h9F dl dd {
  font-size: 0.75rem;
  font-weight: 200;
  color: #9a9ec9;
  text-shadow: 1px 1px 5px #060a25;
}

.contacts_contacts__W7h9F > div > ul {
  gap: 10px;
}

.contacts_contacts__W7h9F > div > ul > li {
  width: 100%;
  height: 5rem;
  border-radius: 2rem;
  text-align: center;
  transition: all 0.4s;
}

.contacts_contacts__W7h9F > div > ul > li > svg {
  width: 3.6rem;
  color: #67919a;
  transition: all 0.3s;
}

.contacts_contacts__W7h9F > div > ul > li:hover,
.contacts_contacts__W7h9F > div > ul > li:hover > svg {
  scale: 1.05;
  color: #c1c7d0;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/app/components/profileCard/profileCard.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.profileCard_card__zNjSZ {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 23vw;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.2rem;
  background: linear-gradient(90deg, rgba(0, 7, 33, 0.3), rgba(8, 21, 70, 0.4));
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 5px 25px rgba(0, 7, 33, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
}

.profileCard_image__gKJ69 {
  width: 100%;
  height: auto;
  border-radius: 1.5rem;
}

.profileCard_name__cra_U {
  text-align: left;
  font-size: 1.4rem;
  font-weight: 600;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.6rem;
}

.profileCard_card__zNjSZ > dl {
  line-height: 1rem;
  padding-left: 0.2rem;
}

.profileCard_card__zNjSZ > dl > dt {
  font-weight: 500;
  font-size: 0.7rem;
  color: rgb(167, 166, 174);
}

.profileCard_card__zNjSZ > dl > dd {
  font-weight: 700;
  font-size: 0.9rem;
  color: rgb(216, 215, 226);
}

.profileCard_btn__hxHfb {
  padding: 10px 20px;
  margin-top: 0.5rem;
  width: 100%;
}

@media screen and (min-width: 1400px) {
  .profileCard_card__zNjSZ {
    margin-top: 1rem;
    width: 17vw;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/app/components/projectCard/projectCard.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.projectCard_card__khgdS {
  cursor: pointer;
  position: relative;
}
.projectCard_card__khgdS img {
  width: 100%;
  border-radius: 5%;
  transition: transform 0.3s;
}
.projectCard_card__khgdS img:hover {
  transform: scale(1.03);
}
.projectCard_card__khgdS .projectCard_description__1EKDR {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  left: -1rem;
  padding: 1rem 2rem;
}
.projectCard_card__khgdS .projectCard_description__1EKDR .projectCard_tag__5YYhl {
  font-size: 12px;
  background-color: rgb(14, 14, 14);
  display: inline-flex;
  align-items: center;
  height: 1.6rem;
  padding: 0 0.7rem;
  margin: 0 0.5rem 0.2rem 0;
  border-radius: 5rem;
}

.projectCard_modalOverlay__dFKPV {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/background.png") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  z-index: 10;
}

.projectCard_modalClose__kpyla {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.projectCard_modalImg__PotjK {
  position: relative;
  width: 37rem;
  border-radius: 1rem;
}

.projectCard_modalContent__fKmO4 {
  background-color: #0f1636;
  width: 28rem;
  padding: 20px;
  border-radius: 2rem;
  text-align: start;
}

.projectCard_modalTitle__5zfu7 {
  font-size: 24px;
  margin-bottom: 5px;
}

.projectCard_modalCaption___CZRP {
  margin-bottom: 10px;
  font-size: 14px;
}

.projectCard_modalTags__sqAiW {
  margin-bottom: 10px;
}

.projectCard_modalTag__h1OAd {
  display: inline-block;
  margin-right: 10px;
  padding: 3px 10px;
  border: 1px solid rgba(143, 143, 143, 0.8);
  border-radius: 0.9rem;
  font-size: 12px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/app/components/title/title.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.title_block__TIlWG {
  width: 600px;
}
.title_block__TIlWG > .title_anchor__eWQYc {
  display: flex;
  align-items: center;
  font-size: 10px;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid rgba(97, 97, 97, 0.584);
  border-radius: 5rem;
  padding-inline: 2%;
  color: rgb(227, 227, 227);
}
.title_block__TIlWG > .title_anchor__eWQYc > svg {
  width: 14px;
  padding-right: 3%;
}
.title_block__TIlWG > .title_title__wkP_H {
  margin-top: 1rem;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/app/components/about/about.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.about_about__QhE9b {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about_about__QhE9b .about_content__bOqVh {
  display: grid;
  grid-template-columns: repeat(2, 70% 30%);
  grid-gap: 1rem;
  gap: 1rem;
  margin-bottom: -1rem;
}
.about_about__QhE9b .about_content__bOqVh .about_text__Mh9ys {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}
.about_about__QhE9b .about_content__bOqVh .about_list__A6Lb8 {
  list-style: none;
}
.about_about__QhE9b .about_content__bOqVh .about_list_item___yPY_ {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1rem;
}
.about_about__QhE9b .about_content__bOqVh .about_list_item__title__0a5aA {
  font-size: 3.5rem;
  line-height: 3rem;
  font-weight: 700;
}
.about_about__QhE9b .about_content__bOqVh .about_list_item__descr__SiMd_ {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
.about_about__QhE9b .about_btn__fKZeI {
  align-self: start;
  padding: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 115px;
  border: 1px solid gray;
  border-radius: 5rem;
  padding-left: 1.5%;
}
.about_about__QhE9b .about_btn__fKZeI > svg {
  margin-left: 0.3rem;
  width: 16px;
}
.about_about__QhE9b .about_btn__fKZeI:hover {
  color: rgb(255, 255, 255);
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/app/components/socials/socials.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.socials_socials__IB6Lb > ul {
  margin: 1rem 0;
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.socials_socials__IB6Lb > ul > li {
  border: 1px solid rgba(255, 255, 255, 0.339);
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 45%;
  cursor: pointer;
}

.socials_socials__IB6Lb > ul > li > svg {
  padding: 0.45rem;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.889);
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/app/components/main/main.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.main_main__WqjS1 {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/app/page.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_home__LW_lH {
  padding-top: 4%;
  padding-left: 30vw;
  padding-right: 5%;
}

@media screen and (min-width: 1400px) {
  .page_home__LW_lH {
    padding-left: 25vw;
    padding-right: 15%;
  }
}
