/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/app/components/ProfileCard/profileCard.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.profileCard_card__8czF2 {
  position: fixed;
  top: 5rem;
  left: 5rem;
  width: 300px;
  height: calc(100% - 19.5rem);
  padding: 2rem;
  padding-top: 1rem;
  background: linear-gradient(90deg, rgba(0, 7, 33, 0.3), rgba(8, 21, 70, 0.4));
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 5px 25px rgba(0, 7, 33, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
}

.profileCard_image__0juBJ {
  width: 100%;
  height: auto;
  border-radius: 2rem;
}

.profileCard_name__aWJjD {
  text-align: left;
  font-size: 1.8rem;
  font-weight: 500;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  line-height: 1.8rem;
}

.profileCard_card__8czF2 > dl {
  line-height: 1.1rem;
}

.profileCard_card__8czF2 > dl > dt {
  font-weight: 500;
  font-size: 0.7rem;
  color: rgb(167, 166, 174);
}

.profileCard_card__8czF2 > dl > dd {
  font-weight: 700;
  font-size: 1rem;
  color: rgb(216, 215, 226);
}

.profileCard_card__8czF2 > ul {
  margin-top: 1rem;
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.profileCard_card__8czF2 > ul > li {
  border: 1px solid rgba(255, 255, 255, 0.469);
  width: 2rem;
  height: auto;
  border-radius: 40%;
  padding-left: 0.2rem;
  padding-top: 0.3rem;
  cursor: pointer;
}

.profileCard_card__8czF2 > ul > li > svg {
  padding: 0.3rem;
  color: rgba(255, 255, 255, 0.889);
}

.profileCard_btn__wxp91 {
  font-family: geistSuse;
  text-transform: capitalize;
  letter-spacing: 0.09rem;
  margin-top: 0.5rem;
  width: 100%;
  background: linear-gradient(90deg, rgb(246, 241, 209), rgb(64, 121, 140));
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  align-self: center;
  color: #000721;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/app/page.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_page__KdIv3 {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  display: grid;
  grid-template-rows: 2, 1fr;
  align-items: center;
  justify-items: stretch;
  min-height: 100svh;
  padding: 80px;
  grid-gap: 64px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}
