.card {
  cursor: pointer;
  position: relative;

  img {
    width: 100%;
    border-radius: 5%;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.03);
    }
  }

  .description {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: -1rem;
    padding: 1rem 2rem;

    .tag {
      font-size: 12px;
      background-color: rgb(14, 14, 14);
      display: inline-flex;
      align-items: center;
      height: 1.6rem;
      padding: 0 0.7rem;
      margin: 0 0.5rem 0.2rem 0;
      border-radius: 5rem;
    }
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/cvProject/background.png") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  z-index: 10;
}

.modalClose {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.modalLink {
  cursor: pointer;

  & > svg {
    width: 18px;
  }
}
.modalTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modalImg {
  position: relative;
  height: 65vh;
  border-radius: 1rem;
}

.modalContent {
  background-color: #0f1636;
  width: 42rem;
  padding: 20px;
  border-radius: 2rem;
  text-align: start;
}
.modalTitle {
  font-size: 32px;
  margin-bottom: 5px;
}

.modalCaption {
  margin-bottom: 16px;
  font-size: 14px;
}

.modalTags {
  margin-bottom: 10px;
}

.modalTag {
  display: inline-block;
  margin-right: 10px;
  padding: 3px 10px;
  border: 1px solid rgba(143, 143, 143, 0.8);
  border-radius: 0.9rem;
  font-size: 14px;
}
